.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.header-section {
    -fx-background-color: rgb(0, 143, 143);
    -fx-padding: 0 10 0 10;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 35px;
    -fx-font-size: 20px;

}

#account {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-color: rgb(0, 143, 143);
    -fx-padding: 25 25 25 25;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
}

/* Permet de sélectionner tous les "Label" contenus dans l'élément ayant pour class "sidebar-section" */
.sidebar-section Label {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-color:  #e8e8e8;
    -fx-font-size: 18px;
    -fx-padding: 10 10 10 10;
}

.content-section {
    -fx-wrap-text: true;
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight: 700;
}


#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
    -fx-padding: 10 10 10 10;
}

#footer-section {

    -fx-alignment: center;	
    -fx-border-style: solid;
    -fx-border-color: rgba(219, 202, 202, 0.507);
    -fx-padding: 10 10 10 10;
}